# ملفات الأسرار — أهم سطر في الملف ده، متمسحوش
.env
.env.local
.env.*.local

# تبعيات
/node_modules

# بيلد Next.js
/.next/
/out/
/build

# ملفات نظام التشغيل والمحرر
.DS_Store
*.pem
.vscode/
.idea/

# لوجات
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# تايبسكريبت
*.tsbuildinfo
next-env.d.ts
